<div class="flex items-start justify-center min-h-screen bg-gray-100 pt-16">
  <div class="bg-white shadow-lg rounded-lg p-8 max-w-md w-full">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource, class: "mb-4 text-red-600" %>

      <div class="mb-6">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500 focus:border-blue-500 p-2" %>
      </div>

      <div class="mb-4">
        <%= f.submit "Send me reset password instructions", class: "w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition duration-300" %>
      </div>
    <% end %>

    <div class="mt-6 text-center">
      <%= render "devise/shared/links", class: "text-blue-600 hover:underline" %>
    </div>
  </div>
</div>
