<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= patient.contact_info %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

</div>
